<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.jiagjl" android:versionCode="3" android:versionName="1.2">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
		<activity android:name=".ShadowsActivity">
			<intent-filter>
				<action android:name="org.jiagjl.SHADOWS_ACTIVITY"></action>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name=".test.TestTimeActivity">
			<intent-filter>
				<action android:name="org.jiagjl.TEST_TIME_SLIDER"></action>
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="1" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest> 